@media (max-width: 475px) {
  div.dash .board {
    flex-direction: column;
  }
}

* {
  box-sizing: border-box;
}

html, .dash {
  overflow: scroll;
}

.dash {
  background-color: #ECEEEE;
}

.dash {
  padding: 16.5px;
  height: 100vh;
}

.board, .column, .card-header, .card-holder {
  display: flex;
}

.board {
  height: 100%;
}

.card {
  height: 100px;
  margin: 5px 5px 0px 5px;
  padding: 10px;
  box-shadow: 0px 0px 6px grey;
  overflow-wrap: break-word;
  overflow-y: scroll;
}

.card-header {
  justify-content: space-between;
  align-items: center;
}

.card-holder {
  flex-flow: column nowrap;
  flex: 1 1 auto;
  background-color: #c9cccc;
  box-shadow: inset 0px 0px 5px grey;
  overflow: scroll;
  padding: 7px;
}

.column {
  flex-flow: column wrap;
  flex: 0 1 25%;
  min-width: 245px;
  border-radius: 5px 5px;
  box-shadow: 0px 0px 10px grey;
  margin: 0 12.5px;
}

.col-header {
  text-align: center;
  width: 100%;
  border-radius: 5px 5px;
}

.card-holder, .new-card {
  margin: 5px 14px;
}

.card, .card-holder {
  border-radius: 10px 10px;
}

.card, .column {
  background-color: #dee0e0;
}

.col-header h2 {
  margin: auto;
  color: #FFF;
}

.col-header, .new-card {
  flex: 0 1 auto;
}

.col-header.Max {
  background-color: #8E6E95;
}

.col-header.Jake {
  background-color: #39A59C;
}

.col-header.Samantha {
  background-color: #344759;
}

.col-header.Alice {
  background-color: #E8741E;
}

.hide {
  display:none;
}

.show {
  display:block;
}
